#main {
  padding: 50px 50px 50px 50px;
}
#input {
  padding: 10px;
}
#game > span {
  border: solid;
  padding: 10px 10px;
}

#game,
#game > button {
  padding: 20px 20px;
  text-align: center;
  font-size: 35px;
}
